.container{
    position: absolute;
    top: 64px;
    bottom : 64px;
    left: 0;
    right: 0;
}

.sidenav{
    display: flex;
    align-items: center;
    justify-content: center;   
    width: 200px;
    background-color: rgba(4, 42, 211, 0.265);
}

section{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.080);
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(149, 145, 145, 0.371);
    justify-content: space-between;
}
.footer{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    background-color: rgba(149, 145, 145, 0.371);
    justify-content: center;
    align-items: center;
}
.botonMenu{
    cursor:pointer;
    padding: 0.65rem 0.65rem;
    border-radius: 50%;
    display: inline;
    align-items: center;
}
.botonMenu:hover{
    background-color: rgba(84, 82, 82, 0.1);
}
.botonMenu:active{
    background-color: rgba(62, 60, 60, 0.2);
    border: 2px solid rgba(18, 18, 18, 0.2);

}