<form [formRoot]= "frmLogin">
<mat-card>
    <mat-card-header class="h-15 flex items-center justify-center mb-4 bg-blue-800 text-white!">
        <mat-card-title>Login</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-col">
            <mat-form-field appearance="fill" class="mt-4 mx-5">
                <mat-label>Usuario</mat-label>
                <input Type="text" matInput [formField]="frmLogin.cedula" (focus)="mostrarError.set(false)">
            </mat-form-field>
            @if(frmLogin.cedula().touched() && frmLogin.cedula().invalid())
            {
                @for(error of frmLogin.cedula().errors(); track error.kind)
                {
                    <mat-error>{{error.message}}</mat-error>
                }

            }
            <mat-form-field appearance="fill" class="mt-4 mx-5">
                <mat-label>Contraseña</mat-label>
                <input Type="password" matInput [formField]="frmLogin.passw" (focus)="mostrarError.set(false)">
            </mat-form-field>
             @if(frmLogin.passw().touched() && frmLogin.passw().invalid())
            {
                @for(error of frmLogin.passw().errors(); track error.kind)
                {
                    <mat-error>{{error.message}}</mat-error>
                }

            }
             <mat-error class="text-center" [hidden]="!mostrarError()"> Usuario o contraseña incorrectos</mat-error>
        </div>

    </mat-card-content>
   
    <mat-card-actions class="mb-5">
        <button type="submit" matFab extended color="primary" class="flex flex-1 mx-7" [disabled] = "frmLogin().invalid()">
            <mat-icon>login</mat-icon>
            Iniciar Sesión
        </button>

    </mat-card-actions>
</mat-card>
</form>
