<form [formRoot]= "frmPassw">
<mat-card>
    <mat-card-header class="h-15 flex items-center justify-center mb-4 bg-blue-800 text-white!">
        <mat-card-title>Restablecer Contraseña</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <div class="flex flex-col">
            <mat-form-field appearance="fill" class="mt-4 mx-5">
                <mat-label>Contraseña actual</mat-label>
                <input [type]="hide() ? 'password' : 'text'" matInput [formField]="frmPassw.passw" (focus)="mostrarError.set(false)">
                <button 
                mat-icon-button matSuffix
                (click)="toggleVisibility($event)"
                [attr.aria-labal]="'Ocultar contraseña'"
                [attr.aria-pressed]="!hide()">
                <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
                </button>
            </mat-form-field>
            @if(frmPassw.passw().touched() && frmPassw.passw().invalid())
            {
                @for(error of frmPassw.passw().errors(); track error.kind)
                {
                    <mat-error>{{error.message}}</mat-error>
                }

            }
            <mat-form-field appearance="fill" class="mt-4 mx-5">
                <mat-label>Contraseña nueva</mat-label>
                <input Type="password" matInput [formField]="frmPassw.passwN" (focus)="mostrarError.set(false)">
            </mat-form-field>  
              @if(frmPassw.passwN().touched() && frmPassw.passwN().invalid())
            {
                @for(error of frmPassw.passwN().errors(); track error.kind)
                {
                    <mat-error>{{error.message}}</mat-error>
                }

            }

            <mat-form-field appearance="fill" class="mt-4 mx-5">
                <mat-label>Confirmar contraseña</mat-label>
                <input Type="password" matInput [formField]="frmPassw.passwR" (focus)="mostrarError.set(false)">
            </mat-form-field>
             @if(frmPassw.passwR().touched() && frmPassw.passwR().invalid())
            {
                @for(error of frmPassw.passwR().errors(); track error.kind)
                {
                    <mat-error>{{error.message}}</mat-error>
                }

            }
         
             <mat-error class="text-center" [hidden]="!mostrarError()"> Las contraseñas no coinciden</mat-error>
        </div>

    </mat-card-content>
   
    <mat-card-actions class="mb-5 flex justify-center">
        <button type="submit" matFab 
          class="me-5 px-15! bg-emerald-600! text-white!"
           [disabled] = "frmPassw().invalid()">
            Cambiar Contraseña
        </button>
          <button  mat-dialog-close matFab class="px-15!  bg-emerald-600! text-white!">
           
           cancelar
        </button>

    </mat-card-actions>
</mat-card>
</form>
